{% extends "app/base_site.html" %}

{% block title %} Hunts {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% load static %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 ">
          <div class="x_panel">
            <div class="x_title">
              <h2>Hunts</h2>
                {% if user.isManager %}
                <a href="{% url "hunt_add"%}">
                  <button class="btn btn-primary pull-right" type="button">New hunt</button>
                </a>
                {% endif %}
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <!-- start project list -->
              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Target</th>
                    <th>Team Members</th>
                    <th>Pit</th>
                    <th>Status</th>
                    <th>Successful</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for hunt in hunts %}
                    <tr>
                        <td>
                          <form action="{% url "hunt_detail"%}" method="GET">
                            <input type="hidden" name="id_hunt" value="{{ hunt.id }}" />
                            <a href="#" onclick="parentNode.submit()">
                              {{ hunt.id }}
                            </a>
                          </form>
                        </td>
                        <td>
                            <form action="{% url "mammoth_profile"%}" method="GET">
                                <input type="hidden" name="id_mammoth" value="{{ hunt.target.id }}" />
                                <a href="#" onclick="parentNode.submit()">
                                    {{ hunt.target }}
                                </a>
                            </form>
                        </td>
                        <td>
                          <ul class="list-inline">
                                {% for hunter in hunt.hunters.all %}
                                <li>
                                    <form action="{% url "hunter_profile"%}" method="GET">
                                        <input type="hidden" name="id_hunter" value="{{ hunter.id }}" />
                                        <a href="#" onclick="parentNode.submit()">
                                            <img title="{{ hunter.username }}" src="{% static "images/fred.png" %}" class="avatar">
                                        </a>
                                    </form>
                                </li>
                                {% endfor %}
                          </ul>
                        </td>
                        <td>
                          <form action="{% url "pit_detail"%}" method="GET">
                            <input type="hidden" name="id_pit" value="{{hunt.pit.id}}" />
                            <a href="#" onclick="parentNode.submit()">
                                {{hunt.pit}}
                            </a>
                          </form>
                        </td>
                        <td>
                          <form action="{% url "hunt_detail"%}" method="GET">
                            <input type="hidden" name="id_hunt" value="{{ hunt.id }}" />
                            {% if hunt.finished %}
                            <a href="#" onclick="parentNode.submit()" class="btn btn-success btn-xs">Finished</a>
                            {% else %}
                            <a href="#" onclick="parentNode.submit()" class="btn btn-warning btn-xs">In progress</a>
                            {% endif %}
                          </form>
                        </td>
                        <td>
                          <form action="{% url "hunt_detail"%}" method="GET">
                            <input type="hidden" name="id_hunt" value="{{ hunt.id }}" />
                            <a href="#" onclick="parentNode.submit()"
                              {%if hunt.successful == "Yes"%}
                                class="btn btn-success btn-xs"
                              {%else%}
                                class="btn btn-danger btn-xs"
                              {%endif%}
                            >
                            {{hunt.successful}}
                            </a>
                          </form>
                        </td>
                        <td>
                          <form action="{% url "hunt_detail"%}" method="GET">
                            <input type="hidden" name="id_hunt" value="{{ hunt.id }}" />
                            <a href="#" onclick="parentNode.submit()" class="btn btn-primary btn-xs">
                                <i class="fa fa-eye"></i>
                                View
                            </a>
                          </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
              <!-- end project list -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
