{% extends "app/base_site.html" %}
{% load static %}

{% block title %} Project Details {% endblock title %}

{% block sidebar_class %}menu_fixed{% endblock sidebar_class %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Watch details</h3>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <h4><b>Watch ID:</b></h4>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                  <h4>{{watch.id}}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <h4><b>Location:</b></h4>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                  <h4>{{watch.location}}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <h4><b>Status:</b></h4>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                  <h4>{%if watch.active%} Active {%else%} Finished {%endif%}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <h4><b>Hunters:</b></h4>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                  <ul class="list-inline">
                    {%for hunter in watch.hunters.all%}
                    <li>
                      <form action="{% url "hunter_profile"%}" method="GET">
                          <input type="hidden" name="id_hunter" value="{{ hunter.id }}" />
                          <a href="#" onclick="parentNode.submit()">
                            <h4>@{{hunter.username}}<h4>
                          </a>
                      </form>
                    </li>
                    {%endfor%}
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <h4><b>Messages:</b></h4>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                  <ul class="list-inline">
                    {%for message in messages_all%}
                    <li>
                      <form action="{% url "message_detail"%}" method="GET">
                        <input type="hidden" name="id_message" value="{{message.id}}" />
                        <a href="#" onclick="parentNode.submit()">
                          <h4>{{message}}</h4>
                        </a>
                      </form>
                    </li>
                    {%endfor%}
                  </ul>
                </div>
              </div>
              {%if watch.active and user.isPrivileged %}
              <form action="{% url "watch_end"%}" method="GET">
                  <input type="hidden" name="id_watch" value="{{ watch.id }}" />
                  <a href="#" onclick="parentNode.submit()" class="btn btn-danger">
                      <i class="fa fa-trash-o"></i>
                      End watch
                  </a>
              </form>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- ECharts -->
  <script src="{% static "vendors/echarts/dist/echarts.min.js" %}"></script>
{% endblock javascripts %}
