{% extends "app/base_site.html" %}

{% block title %} Projects {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% load static %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 ">
          <div class="x_panel">
            <div class="x_title">
              <h2>Watches</h2>
                {% if user.isManager %}
                <a href="{% url "watch_create"%}">
                  <button class="btn btn-primary pull-right" type="button">Add Watch</button>
                </a>
                {% endif %}
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <!-- start project list -->
              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Location</th>
                    <th>Team Members</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for watch in watches %}
                    <tr>
                    <td>
                      <form action="{% url "watch_detail"%}" method="GET">
                        <input type="hidden" name="id_watch" value="{{ watch.id }}" />
                        <a href="#" onclick="parentNode.submit()">
                        {{ watch.id }}
                        </a>
                        </form>
                    </td>
                    <td>
                        {{ watch.location }}
                    </td>
                    <td>
                      <ul class="list-inline">
                        {% for hunter in watch.hunters.all %}
                        <li>
                            <form action="{% url "hunter_profile"%}" method="GET">
                                <input type="hidden" name="id_hunter" value="{{ hunter.id }}" />
                                <a href="#" onclick="parentNode.submit()">
                                    <img title="{{ hunter.username }}" src="{% static "images/fred.png" %}" class="avatar">
                                </a>
                            </form>
                        </li>
                        {% endfor %}
                      </ul>
                    </td>
                    <td>
                      <form action="{% url "watch_detail"%}" method="GET">
                        <input type="hidden" name="id_watch" value="{{ watch.id }}" />
                        {% if watch.active %}
                        <a href="#" class="btn btn-warning btn-xs" onclick="parentNode.submit()">Active</a>
                        {% else %}
                        <a href="#" class="btn btn-success btn-xs" onclick="parentNode.submit()">Finished</a>
                        {% endif %}
                      </form>
                    </td>
                    <td>
                        {%if watch.active and user.isManager %}
                        <form action="{% url "watch_end"%}" method="GET">
                            <input type="hidden" name="id_watch" value="{{ watch.id }}" />
                            <a href="#" onclick="parentNode.submit()" class="btn btn-danger btn-xs">
                                <i class="fa fa-trash-o"></i>
                                End
                            </a>
                        </form>
                        {% else %}
                        <form action="{% url "watch_detail"%}" method="GET">
                            <input type="hidden" name="id_watch" value="{{ watch.id }}" />
                            <a href="#" onclick="parentNode.submit()" class="btn btn-primary btn-xs">
                                <i class="fa fa-eye"></i>
                                View
                            </a>
                        </form>
                        {% endif %}
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
              <!-- end project list -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
