{% extends "app/base_site.html" %}

{% block title %} Mammoths {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Mammoths</h2>
              <a href="{% url "mammoth_create"%}">
                <button class="btn btn-primary pull-right" type="button">Add mammoth</button>
              </a>
            <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Mammoth symbol</th>
                    <th>Last location</th>
                    <th>Status</th>
                    <th>Hunted</th>
                  </tr>
                  <tr>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                  </tr>
                </thead>
                <tbody>
                  {%for mammoth in mammoths%}
                      <tr>
                        <td>  
                          <form action="{% url "mammoth_profile"%}" method="GET">
                            <input type="hidden" name="id_mammoth" value="{{mammoth.id}}" />
                            <a href="#" onclick="parentNode.submit()">
                              {{mammoth.symbol}}
                            </a>
                          </form>
                        </td>
                        <td>{{mammoth.location}}</td>
                        <td>{{mammoth.status}}</td>
                        <td>
                          <form action="{% url "hunt_detail"%}" method="GET">
                              <input type="hidden" name="id_hunt" value="{{mammoth.hunt_id}}" />
                              <a href="#" onclick="parentNode.submit()">
                                {{mammoth.hunted_w}}
                              </a>
                          </form>
                        </td>
                      </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
