{% extends "app/base_site.html" %}
{% load static %}

{% block title %} Mammoth profile {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Mammoth profile</h3>
            </div>
        </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{{ mammoth.symbol }}<small>{{ mammoth.status }}</small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_img">
                  <div id="crop-avatar">
                    <!-- Current avatar -->
                    {% load static %}
                    <img class="img-responsive avatar-view" src="{% static "images/mam.png" %}" alt="Avatar" title="Change the avatar">
                  </div>
                </div>
                <h3>{{mammoth.symbol}}</h3>

                <ul class="list-unstyled user_data">
                  <li>
                    <b>Age:</b> {{mammoth.age}}
                  </li>
                  <li>
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                    {{mammoth.status}}
                  </li>
                  <li>
                      <i class="fa fa-map-marker user-profile-icon"></i>
                      {{mammoth.location }}
                  </li>
                </ul>

                <h4>Behavior</h4>
                {{mammoth.behavior}}
                <!-- end of skills -->
            </div>

            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Last hunts</a>
                    </li>
                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Last watches</a>
                    </li>
                    <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Profile</a>
                    </li>
                  </ul>
                  <div id="myTabContent" class="tab-content">

                    <!--Last hunts-->
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Hunt id</th>
                            <th>Location</th>
                            <th>Finished</th>
                          </tr>
                        </thead>
                        <tbody>
                          {%for hunt in hunts%}
                          <tr>
                            <td>{{hunt.id}} </td>
                            <td>{{hunt.location}}</td>
                            <td>{{hunt.finished}} </td>
                          </tr>
                          {%endfor%}
                        </tbody>
                      </table>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Watch id</th>
                            <th>Location</th>
                            <th>Active</th>
                          </tr>
                        </thead>
                        <tbody>
                            {%for watch in watches%}
                              <tr>
                                <td>{{watch.id}} </td>
                                <td>{{watch.location}} </td>
                                <td>{{watch.active}} </td>
                              </tr>
                            {%endfor%}
                        </tbody>
                      </table>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                        <div class="x_panel">
                            <div class="x_title">
                              <h2>{{hunter.first_name}} {{hunter.last_name}} <small>@{{hunter.username}} </small></h2>

                              <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                              <br />
                              <form class="form-horizontal form-label-left" action="" method="POST">
                                  {% for field in form %}
                                  <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{field.label_tag}}</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                      {{field}}
                                    </div>
                                  </div>
                                  {%endfor%}
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
                                  <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{hunter.alive}}"
                                        readonly="readonly"
                                    >
                                  </div>
                                </div>
                                {% if us == 2 %}
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                      {% csrf_token %}
                                    <button type="button" class="btn btn-primary">Cancel</button>
                                    <button type="reset" class="btn btn-primary">Reset</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                  </div>
                                </div>
                                {%endif%}

                              </form>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- morris.js -->
  <script src="{% static "vendors/raphael/raphael.min.js" %}"></script>
  <script src="{% static "vendors/morris.js/morris.min.js" %}"></script>
{% endblock javascripts %}
