{% extends "app/base_site.html" %}
{% load static %}

{% block title %} Mammoth profile {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Mammoth profile</h3>
            </div>
        </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{{ mammoth.symbol }}<small>{{ mammoth.status }}</small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_img">
                  <div id="crop-avatar">
                    <!-- Current avatar -->
                    {% load static %}
                    <img class="img-responsive avatar-view" src="{% static "images/mam.png" %}" alt="Avatar" title="Change the avatar">
                  </div>
                </div>
                <h3>{{mammoth.symbol}}</h3>

                <ul class="list-unstyled user_data">
                  <li>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    {{mammoth.health}}
                  </li>
                  <li>
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                    {{mammoth.status}}
                  </li>
                  <li>
                      <i class="fa fa-map-marker user-profile-icon"></i>
                      {{mammoth.location }}
                  </li>
                </ul>

                <h4>Behavior</h4>
                {{mammoth.behavior}}
                <!-- end of skills -->
            </div>

            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Last hunts</a>
                    </li>
                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Last messages</a>
                    </li>
                    <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Profile</a>
                    </li>
                  </ul>
                  <div id="myTabContent" class="tab-content">

                    <!--Last hunts-->
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                      <table class="table table-striped projects">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Target</th>
                              <th>Team Members</th>
                              <th>Pit</th>
                              <th>Status</th>
                              <th>Successful</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for hunt in hunts %}
                              <tr>
                                  <td>
                                    <form action="{% url "hunt_detail"%}" method="GET">
                                      <input type="hidden" name="id_hunt" value="{{ hunt.id }}" />
                                      <a href="#" onclick="parentNode.submit()">
                                        {{ hunt.id }}
                                      </a>
                                    </form>
                                  </td>
                                  <td>
                                      <form action="{% url "mammoth_profile"%}" method="GET">
                                          <input type="hidden" name="id_mammoth" value="{{ hunt.target.id }}" />
                                          <a href="#" onclick="parentNode.submit()">
                                              {{ hunt.target }}
                                          </a>
                                      </form>
                                  </td>
                                  <td>
                                    <ul class="list-inline">
                                          {% for hunter in hunt.hunters.all %}
                                          <li>
                                              <form action="{% url "hunter_profile"%}" method="GET">
                                                  <input type="hidden" name="id_hunter" value="{{ hunter.id }}" />
                                                  <a href="#" onclick="parentNode.submit()">
                                                      <img title="{{ hunter.username }}" src="{% static "images/fred.png" %}" class="avatar">
                                                  </a>
                                              </form>
                                          </li>
                                          {% endfor %}
                                    </ul>
                                  </td>
                                  <td>
                                    <form action="{% url "pit_detail"%}" method="GET">
                                      <input type="hidden" name="id_pit" value="{{hunt.pit.id}}" />
                                      <a href="#" onclick="parentNode.submit()">
                                          {{hunt.pit}}
                                      </a>
                                    </form>
                                  </td>
                                  <td>
                                    <form action="{% url "hunt_detail"%}" method="GET">
                                      <input type="hidden" name="id_hunt" value="{{ hunt.id }}" />
                                      {% if hunt.finished %}
                                      <a href="#" onclick="parentNode.submit()" class="btn btn-success btn-xs">Finished</a>
                                      {% else %}
                                      <a href="#" onclick="parentNode.submit()" class="btn btn-warning btn-xs">In progress</a>
                                      {% endif %}
                                    </form>
                                  </td>
                                  <td>
                                    <form action="{% url "hunt_detail"%}" method="GET">
                                      <input type="hidden" name="id_hunt" value="{{ hunt.id }}" />
                                      <a href="#" onclick="parentNode.submit()"
                                        {%if hunt.successful == "Yes"%}
                                          class="btn btn-success btn-xs"
                                        {%else%}
                                          class="btn btn-danger btn-xs"
                                        {%endif%}
                                      >
                                      {{hunt.successful}}
                                      </a>
                                    </form>
                                  </td>
                                  <td>
                                    <form action="{% url "hunt_detail"%}" method="GET">
                                      <input type="hidden" name="id_hunt" value="{{ hunt.id }}" />
                                      <a href="#" onclick="parentNode.submit()" class="btn btn-primary btn-xs">
                                          <i class="fa fa-eye"></i>
                                          View
                                      </a>
                                    </form>
                                  </td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Message</th>
                            <th>From watch</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            {%for message in last_messages%}
                              <tr>
                                <td>
                                  <form action="{% url "message_detail"%}" method="GET">
                                      <input type="hidden" name="id_message" value="{{message.id}}" />
                                      <a href="#" onclick="parentNode.submit()">
                                        {{message}}
                                      </a>
                                  </form>
                                </td>
                                <td>
                                  <form action="{% url "watch_detail"%}" method="GET">
                                      <input type="hidden" name="id_watch" value="{{message.from_watch.id}}" />
                                      <a href="#" onclick="parentNode.submit()">
                                          {{message.from_watch}}
                                      </a>
                                  </form>
                                </td>
                                <td>
                                  <form action="{% url "message_detail"%}" method="GET">
                                    <input type="hidden" name="id_message" value="{{ message.id }}" />
                                    <a href="#" onclick="parentNode.submit()" class="btn btn-primary btn-xs">
                                        <i class="fa fa-eye"></i>
                                        View
                                    </a>
                                  </form>
                                </td>
                              </tr>
                            {%endfor%}
                        </tbody>
                      </table>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                        <div class="x_panel">
                            <div class="x_title">
                              <h2>{{mammoth.symbol}}</small></h2>

                              <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                              <br />
                              <form class="form-horizontal form-label-left" action="" method="POST">
                                  {% for field in form %}
                                  <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{field.label_tag}}</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                      {{field}}
                                    </div>
                                  </div>
                                  {%endfor%}
                                {% if user.isOfficer %}
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                      {% csrf_token %}
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="reset" class="btn btn-primary">Reset</button>
                                  </div>
                                </div>
                                {%endif%}

                              </form>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
