{% extends "app/base_site.html" %}
{% load static %}

{% block title %} Clan members {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Clan members</h3>
        </div>
        <!--div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div-->
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_content">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center"></div>

                <div class="clearfix"></div>

                {% for hunter in hunters %}
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                      <div class="well profile_view">
                        <div class="col-sm-12">
                          <h4 class="brief">
                            <i>
                              {{hunter.role_name}}
                            </i>
                          </h4> 
                          <div class="left col-xs-7">
                              <form action="{% url "hunter_profile"%}" method="GET">
                                  <input type="hidden" name="id_hunter" value="{{ hunter.id }}" />
                                  <a href="#" onclick="parentNode.submit()"><h2>{{ hunter.first_name }} {{ hunter.last_name }}</h2></a>
                              </form>
                            <ul class="list-unstyled">
                              <li>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                @{{ hunter.username }}
                              </li>
                              <li>
                                <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                {{hunter.alive}}
                              </li>
                              <li>
                                  <i class="fa fa-map-marker user-profile-icon"></i>
                                  {{hunter.location}}
                              </li>
                            </ul>
                          </div>
                          <div class="right col-xs-5 text-center">
                            <img src="{% static "images/fred.png" %}" alt="" class="img-circle img-responsive">
                          </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings">
                              <a>{{hunter.score}}</a>
                              {%for i in stars%}
                                {%if i < hunter.score%}
                                  <a href="#"><span class="fa fa-star"></span></a>
                                {%else%}
                                  <a href="#"><span class="fa fa-star-o"></span></a>
                                {%endif%}
                              {%endfor%}
                            </p>
                          </div>
                          <!--div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                              </i> <i class="fa fa-comments-o"></i> </button>
                            <button type="button" class="btn btn-primary btn-xs">
                              <i class="fa fa-user"> </i> View Profile
                            </button>
                          </div-->
                        </div>
                      </div>
                    </div>
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
