{% extends "app/base_site.html" %}
{% load static %}

{% block title %} Message detail {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
        <div class="x_panel">
                <div class="x_title">
                  <h2>Message detail</small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <br />
                    
                  <h3>Title:</h3> <span>{{message.title}}</span>
                  
                  <h3>From watch:</h3>
                      <form action="{% url "watch_detail"%}" method="GET">
                          <input type="hidden" name="id_watch" value="{{message.watch_id}}" />
                          <a href="#" onclick="parentNode.submit()">
                            {{message.from_watch}}
                          </a>
                        </form>
                  
                  <h3>Mammoths:</h3>
                  {%for mammoth in mammoths%}
                  <ul>
                    <li>
                      <form action="{% url "mammoth_profile"%}" method="GET">
                        <input type="hidden" name="id_mammoth" value="{{mammoth.id}}" />
                        <a href="#" onclick="parentNode.submit()">
                          {{mammoth.symbol}}
                        </a>
                      </form>
                    </li>
                  </ul>                    
                  {%endfor%}
                  <h3>Text:</h3>
                  {{message.text}}
                </div>
              </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- morris.js -->
  <script src="{% static "vendors/raphael/raphael.min.js" %}"></script>
  <script src="{% static "vendors/morris.js/morris.min.js" %}"></script>
{% endblock javascripts %}
