{% extends "app/base_site.html" %}
{% load static %}

{% block title %} Messages {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <!-- bootstrap-wysiwyg -->
    <link href="{% static "vendors/google-code-prettify/bin/prettify.min.css" %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">


      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Messages</h2>
                {% if onwatch %}
                <a href="{% url "message_create"%}">
                  <button class="btn btn-primary pull-right" type="button">Add message</button>
                </a>
                {% endif %}
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <ul class="list-unstyled timeline">
                  {%for message in messages%}
                  <li>
                    <div class="block">
                      <div class="tags">
                        <a href="" class="tag">
                          <span>{{message.id}}</span>
                        </a>
                      </div>
                      <div class="block_content">
                        <h2 class="title">
                            {{message.title}}
                        </h2>
                        <div class="byline">
                          <span>From watch: </span> <a href="">{{message.from_watch}}</a>
                        </div>
                        <p class="excerpt"> {{message.text}}
                        </p>
                      </div>
                    </div>
                  </li>
                  {%endfor%}
                </ul>
              </div>
            </div>
          </div>
      </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
