{% extends "app/base_site.html" %}
{% load static %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}

<script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "vendors/pnotify/dist/pnotify.js" %}"></script>
<script src="{% static "vendors/pnotify/dist/pnotify.buttons.js" %}"></script>
<script src="{% static "vendors/pnotify/dist/pnotify.nonblock.js" %}"></script>

<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="{% static "images/fred.png" %}" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input name="username" type="text" required id="id_username" class="form-control" placeholder="Username" required autofocus>
            <input name="password" type="password" required id="id_password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
        <a href="/register" href="#" class="forgot-password">
            Create an account
        </a>

        {% if next %}
        <script type="text/javascript">
            $(function(){
                new PNotify({
                    {% if user.is_authenticated %}
                    text: "Your account doesn't have access to this page. To proceed, please login with an account that has access.",
                    {% else %}
                    text: "Please login to see this page.",
                    {% endif %}
                    type: 'warning',
                    title: 'Log in requested',
                    styling: 'bootstrap3'
                });
            });
        </script>
        {% endif %}
    </div><!-- /card-container -->
</div><!-- /container -->
{% endblock body %}
