{% extends "app/base_site.html" %}
{% load static %}
{% block title %} Cave {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    {% if onhunt or onwatch %}
    <div class="page-title">
        <div class="title_left">
            <h3>
            {% if onhunt %}
                On hunt
            {% endif %}
            {% if onwatch %}
                On watch
            {% endif %}
            </h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        {% if onwatch %}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Add mammoth</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="POST" action="{% url 'mammoth_dash_create' %}">
                        {% for field in mammothform %}
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label_tag }}</label>
                          <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ field }}
                          </div>
                        </div>
                        {% endfor %}
                        {% csrf_token %}
                        <div class="form-group">
                          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                          </div>
                        </div>
                        <input type="hidden" name="next" value="{% url 'index' %}"></input>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Mammoths spotted message</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="POST" action="{% url 'message_create' %}">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <ul class="to_do">
                                {% for checkbox in messageform.mammoths %}
                                <li>
                                    <p>{{ checkbox.tag }} <b>{{ checkbox.choice_label }}</b></p>
                                </li>
                                {% endfor %}
                            </ul>
                            {% csrf_token %}
                        </div>
                        <div class="form-group">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success">Send</button>
                          </div>
                        </div>
                        <input type="hidden" name="next" value="{% url 'index' %}"></input>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

        {% if onhunt %}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Hunt info</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <h4>
                        <b>Location:</b>
                        {{ hunt.pit.location }}</h4>
                    <h4>
                        <b>Hunters:</b>
                    </h4>
                    <ul>
                        {% for hunter in hunt.hunters.all %}
                        <li>
                            <span>{{ hunter.first_name }} {{ hunter.last_name }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <h4>
                        <b>Target:</b>
                        {{ hunt.target }}</h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Hunt message</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="POST" action="{% url 'hunt_submit' %}">
                        {% for field in huntform %}
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label_tag }}</label>
                          <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ field }}
                          </div>
                        </div>
                        {% endfor %}
                        {% csrf_token %}
                        <div class="form-group">
                          <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-4">
                            <button type="submit" class="btn btn-success">Send</button>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Top 5 hunters</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% for hunter in hunters %}
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <form action="{% url "hunter_profile"%}" method="GET">
                                <input type="hidden" name="id_hunter" value="{{ hunter.id }}" />
                                <a href="#" onclick="parentNode.submit()">
                                   <span> {{ hunter.first_name }} {{ hunter.last_name }}</span>
                                </a>
                            </form>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar"
                                    aria-valuenow="{{ hunter.kills }}"
                                    aria-valuemin="0" aria-valuemax="{{ maxKills }}"
                                    style="width: {{ hunter.killPerc }}%;"
                                >
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span>{{ hunter.kills }}</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Active hunts</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if hunts %}
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                            <th>Target</th>
                            <th>Team Members</th>
                            <th>Pit</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for hunt in hunts %}
                        <tr>
                        <td>
                            <form action="{% url "mammoth_profile"%}" method="GET">
                                <input type="hidden" name="id_mammoth" value="{{ hunt.target.id }}" />
                                <a href="#" onclick="parentNode.submit()">
                                    {{ hunt.target }}
                                </a>
                            </form>
                        </td>
                        <td>
                            <ul class="list-inline">
                                {% for hunter in hunt.hunters.all %}
                                <li>
                                    <form action="{% url "hunter_profile"%}" method="GET">
                                        <input type="hidden" name="id_hunter" value="{{ hunter.id }}" />
                                        <a href="#" onclick="parentNode.submit()">
                                            <img title="{{ hunter.username }}" src="{% static "images/fred.png" %}" class="avatar">
                                        </a>
                                    </form>
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            {{ hunt.pit }}
                        </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% else %}
                        <h4>No active hunts</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="{% static "vendors/Chart.js/dist/Chart.min.js" %}"></script>
  <!-- gauge.js -->
  <script src="{% static "vendors/gauge.js/dist/gauge.min.js" %}"></script>
  <!-- Skycons -->
  <script src="{% static "vendors/skycons/skycons.js" %}"></script>
  <!-- Flot -->
  <script src="{% static "vendors/Flot/jquery.flot.js" %}"></script>
  <script src="{% static "vendors/Flot/jquery.flot.pie.js" %}"></script>
  <script src="{% static "vendors/Flot/jquery.flot.time.js" %}"></script>
  <script src="{% static "vendors/Flot/jquery.flot.stack.js" %}"></script>
  <script src="{% static "vendors/Flot/jquery.flot.resize.js" %}"></script>
  <!-- Flot plugins -->
  <script src="{% static "vendors/flot.orderbars/js/jquery.flot.orderBars.js" %}"></script>
  <script src="{% static "vendors/flot-spline/js/jquery.flot.spline.min.js" %}"></script>
  <script src="{% static "vendors/flot.curvedlines/curvedLines.js" %}"></script>
  <!-- DateJS -->
  <script src="{% static "vendors/DateJS/build/date.js" %}"></script>
  <!-- JQVMap -->
  <script src="{% static "vendors/jqvmap/dist/jquery.vmap.js" %}"></script>
  <script src="{% static "vendors/jqvmap/dist/maps/jquery.vmap.world.js" %}"></script>
  <script src="{% static "vendors/jqvmap/examples/js/jquery.vmap.sampledata.js" %}"></script>
{% endblock javascripts %}
