{% extends "app/base_site.html" %}
{% load static %}
{% block title %} Cave {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="row">

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Top 5 hunters</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% for hunter in hunters %}
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span>{{ hunter.first_name }} {{ hunter.last_name }}</span>
                        </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar"
                                    aria-valuenow="{{ hunter.kills }}"
                                    aria-valuemin="0" aria-valuemax="{{ maxKills }}"
                                    style="width: {{ hunter.killPerc }}%;"
                                >
                                </div>
                            </div>
                        </div>
                        <div class="w_right w_20">
                            <span>{{ hunter.kills }}</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Recent hunts</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th>Hunt location</th>
                          <th>Hunters</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <a>Prievidza</a>
                          </td>
                          <td>
                            <ul class="list-inline">
                              <li>
                                <img src="/static/images/user.png" class="avatar" alt="Avatar">
                              </li>
                            </ul>
                          </td>
                          <td>
                            <button type="button" class="btn btn-success btn-xs">Running</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="{% static "vendors/Chart.js/dist/Chart.min.js" %}"></script>
  <!-- gauge.js -->
  <script src="{% static "vendors/gauge.js/dist/gauge.min.js" %}"></script>
  <!-- Skycons -->
  <script src="{% static "vendors/skycons/skycons.js" %}"></script>
  <!-- Flot -->
  <script src="{% static "vendors/Flot/jquery.flot.js" %}"></script>
  <script src="{% static "vendors/Flot/jquery.flot.pie.js" %}"></script>
  <script src="{% static "vendors/Flot/jquery.flot.time.js" %}"></script>
  <script src="{% static "vendors/Flot/jquery.flot.stack.js" %}"></script>
  <script src="{% static "vendors/Flot/jquery.flot.resize.js" %}"></script>
  <!-- Flot plugins -->
  <script src="{% static "vendors/flot.orderbars/js/jquery.flot.orderBars.js" %}"></script>
  <script src="{% static "vendors/flot-spline/js/jquery.flot.spline.min.js" %}"></script>
  <script src="{% static "vendors/flot.curvedlines/curvedLines.js" %}"></script>
  <!-- DateJS -->
  <script src="{% static "vendors/DateJS/build/date.js" %}"></script>
  <!-- JQVMap -->
  <script src="{% static "vendors/jqvmap/dist/jquery.vmap.js" %}"></script>
  <script src="{% static "vendors/jqvmap/dist/maps/jquery.vmap.world.js" %}"></script>
  <script src="{% static "vendors/jqvmap/examples/js/jquery.vmap.sampledata.js" %}"></script>
{% endblock javascripts %}
