{% load static %}

<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="{% url "index" %}" class="site_title">
        <span>Mammoth hunters</span>
    </a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <a href="{% url "hunter_profile" %}">
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="{% static "images/fred.png" %}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
            <div>
                <span>Welcome,</span>
                <h2>{{user.first_name}} {{user.last_name}}</h2>
            </div>
    </div>
  </div>
</a>

  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li>
            <a href="{% url "index" %}">
                <i class="fa fa-home"></i>
                Cave
            </a>
        </li>
        <li>
            <a href="{% url "mammoth_list" %}">
                <i class="fa fa-bullseye"></i>
                Mammoths
            </a>
        </li>
        <li>
            <a href="{% url "hunter_list" %}">
                <i class="fa fa-group"></i>
                Hunters
            </a>
        </li>
        <li>
            <a href="{% url "hunt_list" %}">
                <i class="fa fa-space-shuttle"></i>
                Hunts
            </a>
        </li>
        <li>
            <a href="{% url "watch_list" %}">
                <i class="fa fa-binoculars"></i>
                Watches
            </a>
        </li>
        <li>
            <a href="{% url "message_list" %}">
                <i class="fa fa-comment"></i>
                Messages
            </a>
        </li>
        <li>
            <a href="{% url "pit_list" %}">
                <i class="fa fa-map-marker"></i>
                Pits
            </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>
